@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
//цвет шапка
@navbar-color: #FFFFFF;
//цвет страницы
@background-page: #FFFFFF;

//шрифт элементов в таблице
@tbl-font-size: 16px;
@tbl-min-font: 12px;
// Размер шрифта с логотипом
@nav-bar-font-size: 30px;
// Размер шрифта в меню

@nav-bar-menu-font-size: 16px;

// Цвет фона кнопок и рамки вокруг:
@btn-background-color: #66b821;
//цвет при наведении
@btn-background-color-hover: #58a11a;

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lobster.woff') format('woff'),
  url('../fonts/Lobster.ttf')  format('truetype'),
  url('../fonts/Lobster.svg#Lobster') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
  font-family: 'Lato', 'sans-serif';
}

.navmenu {
  padding-top: 70px;
}

.navbar {
  background-color: @navbar-color;
  display: block;
  text-align: center;
  margin-bottom: 0;
  height: 80px;
  border: 0;
  border-bottom: 1px solid black;
}

.navbar-left {
  margin-left: 0;
}

.navbar-brand {
  display: inline-block;
  padding: 25px 15px 25px 30px;
  font-size: @nav-bar-font-size;
}

#logo{
  font-family: Lobster, 'Comic Sans MS', cursive;
  font-size: @nav-bar-font-size;
  text-decoration: none;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-toggle {
  padding: 10px 10px;
  margin-top: 17px;
}

.navbar-toggle-left {
  float: left;
  margin-left: 15px;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: @background-page;
}

.navbar-fixed-top {
  z-index: 1031;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 400px;
}

.navbar-default .navbar-header > .navbar-brand > a,
.navbar-default .navbar-header > .navbar-brand > a:hover,
.navbar-default .navbar-header > .navbar-brand > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus  {
  background-color: @navbar-color;
  color: #000;
  font-size: @nav-bar-menu-font-size;
}

.navbar-default .navbar-left > .active > a,
.navbar-default .navbar-left > li > a:hover,
.navbar-default .navbar-left > li > a:focus {
  border-bottom: 2px solid #000;
}

.breadcrumb {
  padding-top: 28px;
  text-transform: capitalize;
}

.breadcrumb > li + li::before {
  padding: 0 5px;
  color: #CCC;
  content: " ";
}


.container-fluid {
  background-color: @background-page;
  padding: 40px 15px 15px 15px;
}

@media (min-width: 768px) {
  .main {
    padding: 0 0 0 300px;
  }

  .navbar-nav > li {
    margin-left: 2px;
    margin-right: 2px;
  }

  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 22px;
  }

  .navbar-right {
    margin-right: 15px;
  }

  .navbar-header {
    width: 300px;
  }

  .navbar-left {
    margin-left: 20px;
  }

  .container-fluid {
    padding: 40px 15px 15px 35px;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus  {
    background-color: @navbar-color;
    color: #000;
    font-size: @tbl-font-size;
  }
  .navbar-default .navbar-header > .navbar-brand > a,
  .navbar-default .navbar-header > .navbar-brand > a:hover,
  .navbar-default .navbar-header > .navbar-brand > a:focus{
    background-color: @navbar-color;
    color: #000;
    font-size: @nav-bar-menu-font-size;
    font-family: Lobster, 'Comic Sans MS', cursive;
  }

}

@media (max-width: 992px) {
  .navbar-left > li > a {
    padding-left: 6px;
    padding-right: 6px;
  }
}


.user-panel {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  height: 90px;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
}

.user-panel:hover {
  background-color: #e7e7e7;
  border-right: 2px solid #000;
}

.user-active {
  border-right: 2px solid #000;
}


.pull-left {
  float: left !important;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
  color: #fff;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 65px;
}

.pull-left{
  p {
    margin-bottom: 5px;
   font-weight: bold;
  }
  span {
    color: #9A9E99;
  }
}

.btn-add-accounts {
  text-align: left;
  padding: 15px 15px 15px 30px;
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  outline: 0 none !important;

  .glyphicon {
    margin-right: 10px;
  }

}

.btn-add-accounts:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-add-accounts:hover {
  background-color: #e7e7e7;
}

.btn-primary {
  color: #fff;
  background-color: @btn-background-color;
  border-color: @btn-background-color;
  padding: 10px 25px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: @btn-background-color-hover;
  border-color: @btn-background-color-hover;
}
.btn-primary:hover {
  color: #fff;
  background-color: @btn-background-color-hover;
  border-color: @btn-background-color-hover;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: @btn-background-color-hover;
  border-color: @btn-background-color-hover;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: @btn-background-color-hover;
  border-color: @btn-background-color-hover;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: @btn-background-color-hover;
  border-color: @btn-background-color-hover;
}
// Рамка вокруг формы логина или авторизации
.site-login{
  padding: 56px;
}

a,
a:hover,
a:focus{
  color: #000;
}


#w0{
  font-size: @tbl-font-size;
}


.tbl-post{
  padding: 5px 5px 5px 5px;
}

.tbl-sign{
  font-size: @tbl-min-font;
  color: darkgray;
  padding-left: 10px;
}

.w-a {
  float: left;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.w-p {
  margin-left: 70px;
}
// для фиксайии заголовка таблицы, пока не работает
#header-fixed {
  position: fixed;
  top: 0px; display:none;
  background-color:white;
}

.header-icon{
  height:20px; overflow:hidden;
}

// style for search
.stylish-input-group{
  .input-group-addon{
    background: white !important;
  }
  .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
  }
  button{
    border:0;
    background:transparent;
  }
}
// end style for search

.tbl-header{
  margin-bottom: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.sort-icon{
  width: 11px;
  height: 14px;
}

.diff-numb{
  font-size: 13px;
}