.btn-danger {
    padding: 10px 25px;
}

.btn-default {
    padding: 10px 25px;
}

.modal-footer {
    text-align: center;
}

.center {
    text-align: center;
}

.help-block {
    color: #ccc;
    margin-bottom: 0;
}

#proxy-settings {
    display: none;
}

.alert-telegram-info {
    background-color: #fff;
    border-color: #FF7777;
    margin-top: 20px;
}

.alert .alert-telegram-info-link {
    color: #FFBBBB;
    font-weight: normal;
}

.glyphicon-question-sign {
    cursor: pointer;
}

#calendar {
    background-color: #fff;
}

.login-form {
    padding: 30px 15px 15px 15px;
}

.post-tabs li {
    width: 50%;
}

.tab-pane {
    padding: 15px;
}

textarea.caption {
    height: 100px;
}


.time-range {
    padding: 0 15px;
    text-align: right;
}

@media (max-width: 767px) {
    .time-range {
        margin-top: 15px;
        text-align: left;
    }
}

.time-range .hours {
    display: inline-block;
    width: auto;
}

.time-range .minutes {
    display: inline-block;
    width: auto;
}

select.hours, select.minutes {
    padding: 6px;
}

.time-range label {
    display: inline-block;
}

.fa-upload {
    cursor: pointer;
}

.fa-3 {
    font-size: 10em;
}

#upload {
    text-align: center;
}

.input-group-addon {
    cursor: pointer;
}

#start_time, #end_time {
    width: 76px;
    display: inline-block;
}

.fc a {
    color: #000;
}

.fc-time, .fc-title {
    color: #000;
}

.fc-state-default {
    background-color: #FF8D0C;
    background-image: none;
    border-color: #FF8D0C;
    color: #000;
}

.fc button {
    height: 2.6em;
    padding: 0.5em .6em;
    font-size: 16px;
    text-shadow: none;
}

.fc-toolbar .fc-center {
    margin-top: 15px;
}

@media (max-width: 992px) {
    .fc button {
        font-size: 14px;
    }

    .fc-toolbar .fc-left {
        margin: 5px;
    }

    .fc-toolbar .fc-right {
        margin: 5px;
        float: left;
    }

    .fc-toolbar .fc-center {
        margin: 5px;
        display: block;
    }
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #000;
    background-color: #FF8D4F;
}

.fc-state-hover {
    color: #000;
}

.fc-state-down,
.fc-state-active {
    background-color: #FF8D4F;
}

.fc-today-button:disabled {
    background-color: #FF8D4F;
    opacity: 1;
}