.item {
  text-align: center;
  float: left;
}

.space60 {
  padding-top: 60px;
}

.stat-info{
  height: 150px;
  margin-top: 20px;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
}


.grey-salsa.btn {
  color: #FAFCFB;
  background-color: #ACB5C3;
}

.btn-circle {
  border-radius: 25px !important;
}

.btn-sm, .btn-xs {
  padding: 4px 10px 5px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.action{
    float: right;
    margin-top: -22px;
}

#columnchart_lc{
  padding-top: 0;
  padding-left: 0px;
  margin-top: -5px;
  margin-left: -25px;
}

.font-green-sharp {
  color: #4DB3A2 !important;
}

.top-post-info {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  font-size: 16px;
}

.top-post-widget {
  position: relative;
  margin-bottom: 30px;
  margin-right: 68px;
}

.dashboard-stat2-full {
  padding: 15px 15px 75px 15px;
}
.dashboard-stat2-short{
  padding: 15px 15px 25px 15px;
}

.dashboard-stat2 {
  border-radius: 4px;
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  .display {
    margin-bottom: 20px;
    .number {
      float: left;
      display: inline-block;
      h3 {
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
      }
      small {
        font-size: 14px;
        color: #AAB5BC;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 10px;
      }
    }
    .icon {
      display: inline-block;
      float: right;
    }
  }
  .progress-info {
    clear: both;
    .progress {
      margin: 0;
      height: 4px;
      clear: both;
      display: block;
      border: 0;
      background-image: none;
      filter: none;
    }
    .status {
      margin-top: 5px;
      font-size: 11px;
      color: #AAB5BC;
      font-weight: 600;
      text-transform: uppercase;

      small {
        padding-left: 5px;
        color: #AAB5BC;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .status-activity{
          float: left;
          margin-top: -10px;
      }

      .status-not-followers{
        float: right;
        margin-top: -10px;
      }

    }
  }
}

.font-red-haze {
  color: #f36a5a !important;
}

.font-blue-sharp {
  color: #5C9BD1 !important;
}

.font-green-sharp {
  color: #4DB3A2 !important;
}

.hashtag {
  font-weight: bold;
}


.block-position {
  text-align: center;
  color: #FFF;
  height: 100%;
}

.green {
  background-color: #45B6AF;
}

.blue {
  background-color: #00ACED;
}

.top-position {
  font-weight: bold;
  display: block;
  font-size: 40px;
}

.tbl-header {
  margin-bottom: 0px;
}